@use "scss-reset";
@use "fonts";
@use "variables" as *;
@use "mixins" as *;

// Генерация классов в формате t-14, t-16 ...
@include generate-font-size(12 14 16 18 20 24 32 40 48 64);

* {
  box-sizing: border-box;
}

html {
  color: $text_color;
  font-family: "Tektur";
  font-weight: 400;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: $background_color;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  font-size: 1.8rem;
}

.btn_link {
  color: inherit;
}

.container,
.container > .inner {
  height: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;

  @media (max-width: 1300px) {
    max-width: 980px;
  }

  @media (max-width: 980px) {
    max-width: 740px;
  }

  @media (max-width: 760px) {
    max-width: 500px;
  }

  @media (max-width: 500px) {
    max-width: auto;
  }
}

.flex {
  display: flex;
}

.mobile_show {
  display: none;

  @media (max-width: 760px) {
    display: flex;
  }
}

h2.head {
  font-size: 4.8rem;
  font-weight: 700;

  @media (max-width: 500px) {
    font-size: 3.2rem;
    text-align: center;
  }
}

h3.head {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

h4.head {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.mobile_down {
  display: flex;

  @media (max-width: 760px) {
    display: none;
  }
}

div.paragraph > p {
  text-indent: 35px;
  margin-bottom: 16px;
  line-height: 160%;

  @media (max-width: 500px) {
    font-size: 14px;
    margin-bottom: 12px;
    text-indent: 20px;
  }
}

div.paragraph .item {
  font-size: 1.6rem;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}
